body {
    background-color: darkgreen;
    text-align: center;
}

button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    width:  160px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-weight: bold;
}